@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color: whitesmoke;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1, h2, h3, p {
  text-align: center;
}

p.commentHeader {
  text-align: left;
}

button {
  border: 0.5vmin solid;
  border-radius: 0.5vmin;
  padding: 0.8vmin;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: whitesmoke;
  color: black;
  border-color: whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
  color: black;
  text-shadow: 3px 3px 3px gray;

}

a {
  border-radius: 0.8vmin;
  padding: 0.5vmin;
  font-size: 2vmin;
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-shadow: 3px 3px 3px gray;
  background-color: black;
  color: whitesmoke;
}

a:hover.white-background {
  background-color: whitesmoke;
  color: black;
}

.post-form {
  width: clamp(400px, 40%, 600px);
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.25vmin solid whitesmoke;
  border-radius: 1vmin;
  margin-top: 3rem;
}

input {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid whitesmoke;
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

.error-message {
  color: rgb(166, 29, 29);
}

.postDetailsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > * {
    margin: 2rem;
  }
}

#detailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  height: 40vh; 
  width: 50vh;
}

.edit-delete {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
}

.page-layout {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

